.title{
    color:orange;
    font-size: 12px;
}

.background{
    --background: url(../../assets/imgs/addBG.jpg) 0 0/100% 100% no-repeat;
    display:flex;
    justify-content:center;
}

.label{

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 30px;
color: #F3911D;

}

ion-button.cancel{
    --background: #ebca77;
    --background-hover: orangered;
    }

    ion-button.post{
        --background: orange;
        --background-hover: orangered;
        }