

<ion-content>
  <div class="container1">
<h1 class="header"> Hire from this list! </h1>
</div>

  <ion-card>
    <div class="container">
    <ion-card-header>
      <ion-card-title class="title">Name</ion-card-title>
      <ion-card-subtitle>Location: </ion-card-subtitle>
       <ion-card-subtitle>Age: </ion-card-subtitle>
       <ion-card-subtitle>Contact: </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img style="border-radius:50%;" src="../../assets/imgs/default.jpg" />
          </ion-thumbnail>
        </ion-item>
      </ion-list>
    </ion-card-content>
    </div>
     <ion-button shape="round">Hire</ion-button>
  </ion-card>
</ion-content>
