

<ion-content>
  <div class="container1">
<h6 style="color:orangered; padding: 10%; justify-content:center; align-items: center; font-size: 18px; font-weight: 700;">{{error}}</h6>
</div>

  <ion-card *ngFor="let candidate of candidates" >
    <div class="container">
    <ion-card-header>
      <ion-card-title class="title">{{candidate.username}}</ion-card-title>
      <ion-card-subtitle>Location:{{candidate.address}} </ion-card-subtitle>
       <ion-card-subtitle>Birthday: {{candidate.dob}}</ion-card-subtitle>
       <ion-card-subtitle>Contact: {{candidate.number}}</ion-card-subtitle>
       <ion-card-subtitle>Email: {{candidate.email}}</ion-card-subtitle>
       <ion-card-subtitle>Gender: {{candidate.gender}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
          <ion-thumbnail>
            <img style="border-radius:50%;margin-left:0;" src="../../assets/imgs/default.jpg" />
  </ion-thumbnail>
    </ion-card-content>
    </div>
     <ion-button (click)="hire(candidate.id)" shape="round">Hire</ion-button>
  </ion-card>
</ion-content>
