
<ion-content>

<div class="header">
  <ion-buttons>
    <ion-button (click)="save()" >
      <ion-icon [color]="isActive ? 'danger':'warning'" class="icon" slot="icon-only" name="bookmark">
      </ion-icon>
    </ion-button>
    </ion-buttons>
</div>

<div class="card" *ngFor="let job of jobs">
<div class="title">
  <h1 class="ion-item">{{job.title}}</h1>
  <p class="ion-item">{{job.salary}}<sup>$/hour</sup></p>

</div>

<div class="details">
  <ion-label class="label">Location: </ion-label>
  <ion-badge>{{job.location}}</ion-badge>
</div>

<div class="details">
  <ion-label class="label">Age required: </ion-label>
  <ion-badge>{{job.age_requirement}}</ion-badge>
</div>

<div class="details">
  <ion-label class="label">Job Starts on: </ion-label>
  <ion-badge>{{job.start_from}}</ion-badge>
</div>

<div class="details">
  <ion-label class="label">Job Ends on: </ion-label>
  <ion-badge>{{job.end_on}}</ion-badge>
</div>

<div class="description">
  <ion-badge class="desc-title">Requirements</ion-badge>
  </div>
  <ion-card>
    <ion-card-content>
     {{job.description}}
    </ion-card-content>
  </ion-card>

<div class="btn-div">
  <ion-button class="btn" expand="block"> I CAN DO IT! </ion-button>
</div>
</div>

</ion-content>
