
<ion-content>

<div class="header">
  <ion-buttons>
    <ion-button>
      <ion-icon class="icon" slot="icon-only" name="bookmark-outline">
      </ion-icon>
    </ion-button>
    </ion-buttons>
</div>

<div class="card">
<div class="title">
  <h1 class="ion-item">Babysitter</h1>
  <p class="ion-item">100<sup>$/hour</sup></p>

</div>

<div class="details">
  <ion-label class="label">Location: </ion-label>
  <ion-badge>Amchit</ion-badge>
</div>

<div class="details">
  <ion-label class="label">Age required: </ion-label>
  <ion-badge>18 yrs old</ion-badge>
</div>

<div class="details">
  <ion-label class="label">Contact person: </ion-label>
  <ion-badge>03123123</ion-badge>
</div>

<div class="description">
  <ion-badge class="desc-title">Requirements</ion-badge>
  </div>
  <ion-card>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

<div class="btn-div">
  <ion-button class="btn" expand="block"> APPLY NOW </ion-button>
</div>
</div>

</ion-content>
