
<ion-content *ngFor="let user of users">

  <div class="main">

    <div class="user">
      <div style="align-items:center; margin-top:50%">
      <ion-label class="name">{{user.username}}</ion-label>
    </div>
  <div>
      <img class="profile" src="../../assets/imgs/default.jpg">
    </div>
    </div>

    <div class="content">
<div class="details"> 

  <ion-grid fixed>
<ion-row>
  <ion-col size="12">
    <div class="flex_div">
      <ion-item>
        <ion-icon class="icon" name="mail" slot="start"></ion-icon>
        <h1 class="heading">Email</h1>
      </ion-item>
    </div>
    <div class="flex_div">
      <ion-item>
        <p class="info"> {{user.email}}</p>
      </ion-item>
    </div>
    <div class="flex_div">
      <ion-item>
        <ion-icon class="icon" name="calendar" slot="start"></ion-icon>
        <h1 class="heading"> Birthday </h1>
      </ion-item>
    </div>
    <div class="flex_div">
      <ion-item>
        <p class="info"> {{user.dob}}</p>
      </ion-item>
    </div>
    <div class="flex_div">
      <ion-item>
        <ion-icon class="icon" name="call" slot="start"></ion-icon>
        <h1 class="heading"> Phone Number </h1>
      </ion-item>
    </div>
    <div class="flex_div">
      <ion-item>
        <p class="info"> {{user.number}}</p>
      </ion-item>
    </div>

    <div class="flex_div">
      <ion-item>
        <ion-icon class="icon" name="home" slot="start"></ion-icon>
        <h1 class="heading"> Address</h1>
      </ion-item>
    </div>
    <div class="flex_div">
      <ion-item>
        <p class="info"> {{user.address}}</p>
      </ion-item>
    </div>
  </ion-col>
</ion-row>
  </ion-grid>
</div>
    </div>

  </div>


  <ion-fab class="edit" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="goToEdit()">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="bookmark" (click)="goToSaved()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="briefcase" (click)="goToJobs()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
