

<ion-content>
  <ion-item class="item">
    <ion-badge slot="end">{{app_count}}</ion-badge>
    <ion-label class="label">People Applying</ion-label>
  </ion-item>

  <ion-card *ngFor="let apps of applicants">
    <ion-card-header>
      <ion-card-title class="title">{{apps.username}} applied to {{apps.title}} job!</ion-card-title>
      <ion-card-subtitle>Call on: {{apps.number}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-item>
    <ion-badge slot="end">{{count}}</ion-badge>
    <ion-label class="label">People Hiring you</ion-label>
  </ion-item>

  <ion-card *ngFor="let user of users">
    <ion-card-header>
      <ion-card-title class="title">{{user.username}} wants to hire you for the {{user.title}} job!</ion-card-title>
      <ion-card-subtitle>Call on: {{user.number}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
