ion-content{
    --ion-background-color: #FCE5AA;
}

ion-badge{
    --background: orange;
    --color: white;
}

.label{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
color: #000000;
}

.item{
padding: 20px;
}

.title{
    font-size: 18px;
}

ion-card{
    --background: white;
}