

<ion-content>
  <ion-item class="item">
    <ion-badge slot="end">2</ion-badge>
    <ion-label class="label">People Applying</ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">Sara applied to Babysitting!</ion-card-title>
      <ion-card-subtitle>Call her on: 123123</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-item>
    <ion-badge slot="end">3</ion-badge>
    <ion-label class="label">People Hiring you</ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">John wants to hire you!</ion-card-title>
      <ion-card-subtitle>Call him on: 234234</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
