<ion-header>
  <ion-toolbar color="warning">
    <ion-icon slot="start" name="pencil"></ion-icon>
    <ion-title>Edit</ion-title>
    <ion-icon slot="end" name="pencil"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let user of users">
  <ion-grid class="form">
    <ion-row>
      <ion-col>
        <ion-item class="item">
          <ion-label  class="label"  position="floating">New User Name: </ion-label>
          <ion-input [(ngModel)] ="username" type="text" ></ion-input>
        </ion-item>
      </ion-col>
      </ion-row>
    
    <ion-row>
      <ion-col>
      <ion-item class="item">
      <ion-label class="label"  position="floating">New Email: </ion-label>
      <ion-input [(ngModel)] ="email" type="email" ></ion-input>
      </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        <ion-item class="item">
        <ion-label class="label" position="floating">New Password: </ion-label>
        <ion-input [(ngModel)] ="password" type="password"></ion-input>
        </ion-item>
        </ion-col>
        </ion-row>

  
    
      <ion-row>
        <ion-col>
          <ion-item class="item">
            <ion-label class="label"  position="floating">New Address: </ion-label>
            <ion-input [(ngModel)] = "address" ></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="item">
              <ion-label class="label"  position="floating">New Number: </ion-label>
              <ion-input [(ngModel)] ="number"></ion-input>
            </ion-item>
          </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
                <ion-label color="danger">{{error}} </ion-label>
            </ion-col>
            </ion-row>
    
        <div>
        <ion-row>
          <ion-col>
            <ion-button (click)="edit_info()" shape="round" class="register"> Apply Changes 
            </ion-button>
      </ion-col>
      </ion-row>
    </div>
    <img class="img" src="../../assets/imgs/bgedit.jpg">
  
  
    
    
    </ion-grid>
</ion-content>
