<ion-header>
  <ion-toolbar color="warning">
    <ion-icon slot="start" name="pencil"></ion-icon>
    <ion-title>Edit</ion-title>
    <ion-icon slot="end" name="pencil"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="form">
    <ion-row>
      <ion-col>
        <ion-item class="item">
          <ion-label  class="label"  position="floating">New Name: </ion-label>
          <ion-input type="text" value="Old Name"></ion-input>
        </ion-item>
      </ion-col>
      </ion-row>
    
    <ion-row>
      <ion-col>
      <ion-item class="item">
      <ion-label class="label"  position="floating">New Email: </ion-label>
      <ion-input type="email" value="Old Email"></ion-input>
      </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        <ion-item class="item">
        <ion-label class="label" position="floating">New Password: </ion-label>
        <ion-input type="password"></ion-input>
        </ion-item>
        </ion-col>
        </ion-row>

  
    
      <ion-row>
        <ion-col>
          <ion-item class="item">
            <ion-label class="label"  position="floating">New Address: </ion-label>
            <ion-input value="Old Address"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>
    
        <div>
        <ion-row>
          <ion-col>
            <ion-button shape="round" class="register"> Apply Changes 
            </ion-button>
      </ion-col>
      </ion-row>
    </div>
    <img class="img" src="../../assets/imgs/bgedit.jpg">
  
  
    
    
    </ion-grid>
</ion-content>
