<ion-header>
  <ion-toolbar color="warning">
    <ion-icon slot="start" name="star"></ion-icon>
    <ion-title>Favorites</ion-title>
    <ion-icon slot="end" name="star"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label style="color:grey; padding: 10%; justify-content:center; align-items: center; font-size: 12px; font-weight: 700;">
      <h1>{{error}} </h1>
    </ion-label>
  <ion-list *ngFor = "let job of jobs">
    <ion-item-sliding>
      <ion-item>
        <ion-label >
          <h1 class="title">{{job.title}}</h1>
        </ion-label>
      </ion-item>
  

    </ion-item-sliding>
    </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
  <ion-fab-button>
    <ion-icon (click)="goBack()" name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
