
ion-icon{
    --background: black;
}

.title{
font-family: 'Poppins';
font-style: bold;
font-size: 20px;
line-height: 36px;
color: orange;
}

ion-fab-button{
    --background: orangered;
    --color: black;
}