
<ion-content class="background">
<ion-grid>

  <ion-row>
    <ion-col>
      <h1 class="header">Create Your Account </h1>
    </ion-col>
 </ion-row>

 <ion-row>
  <ion-col>
    <h5 class="text"> It's free to start working Odd Jobs! </h5>
  </ion-col>
</ion-row>

<ion-grid class="form">
<ion-row>
  <ion-col>
    <ion-item class="item">
      <ion-label  position="floating">What's your name?</ion-label>
      <ion-input type="text" placeholder="Enter your name"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>

<ion-row>
  <ion-col>
  <ion-item class="item">
  <ion-label position="floating">What's your email?</ion-label>
  <ion-input type="email" placeholder="Enter your email"></ion-input>
  </ion-item>
  </ion-col>
  </ion-row>
  
  <ion-row>
  <ion-col>
  <ion-item class="item" fill="outline">
  <ion-label position="floating">Create a Password</ion-label>
  <ion-input type="password" placeholder="Enter a password"></ion-input>
  </ion-item>
  </ion-col>
  </ion-row>
  
  <ion-row>
  <ion-col>
  <ion-item class="item" fill="outline">
  <ion-label position="stacked">When's your birthday?</ion-label>
  <ion-input type="date"></ion-input>
  </ion-item>
  </ion-col>
  </ion-row>
  
  <ion-row>
  <ion-col>
  <ion-list >
  <ion-radio-group>
  <ion-item *ngFor="let gender of gender_list">
  <ion-label> {{gender}} </ion-label>
  <ion-radio value="{{gender.toLowerCase()}}"> </ion-radio>
  </ion-item>
  </ion-radio-group>
  </ion-list>
  </ion-col> 
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="item">
        <ion-label position="floating">How to reach you?</ion-label>
        <ion-input placeholder="Enter your number"></ion-input>
      </ion-item>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="register"> Sign Up </ion-button>
  </ion-col>
  </ion-row>
  </ion-grid>

  

</ion-grid>

</ion-content>
