<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      People are looking for: 
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [ngModel]="searchTerm"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="title" size="large"> People are looking for: </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="card" *ngFor="let job of jobs | filter:searchTerm">
  <ion-card-header>
    <ion-card-title>{{job.title}}</ion-card-title>
    <ion-card-subtitle class="sub">{{job.location}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
   {{job.description}}
  </ion-card-content>

  <ion-button class="button" fill="clear" (click)="seeDetails(job.id)">Details</ion-button>
</ion-card>

<ion-fab slot="fixed" horizontal="center" vertical="bottom">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="end">
    <ion-fab-button (click)="goToAddPage()">
      <ion-icon class="icons" name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="goToJobs()">
      <ion-icon class="icons" name="trash"></ion-icon>
    </ion-fab-button>

  </ion-fab-list>
</ion-fab>
</ion-content>
