.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    
    color: black;
    
}

.card{
    background-color:  rgb(248, 217, 159);
}

.sub {
    color:orange;
}

.button{
    color: orangered;
    margin-left: 50%;
}


ion-fab-button{
    --background: #FFDA15;
    --background-hover: orangered;
    --color: black;
}

ion-icon.icons{
    color: black;
}